.category-box {
    position: relative;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;

    > img {
        width: 100%;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;

        z-index: 1;

        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 100%);
    }

    > h2 {
        position: absolute;

        z-index: 2;
        color: #ffffff;
        font-size: 2.8rem;

        left: 3rem;
        right: 3rem;
        bottom: 3rem;
    }
}

#posts {
    padding: 4rem 2rem;

    .post-box {
    }
}
